body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #89f7fe, #66a6ff);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background: red;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  width: 300px;
  text-align: center;
}

input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  background-color: #4e73df;
  color: red;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #375ab7;
}

.hidden {
  display: none;
}

a {
  color: #4e73df;
  text-decoration: none;
}